<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/assets/css/style-extra.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=a847d1fe541ca62044cce96cfd476e07">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=de827f96ca45107a1c2d70d42c066210">
</head>

<body id="page-top" style="height: 645px;">
    
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top" style="background-color: #FDC844;">
        <a class="navbar-brand" href="/">
            <img id="logo" src="../assets/img/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link menu-letter" href="/">Catálogo <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item menu-letter">
                <a class="nav-link" href="/produtos">Produtos</a>
            </li>
            <li class="nav-item menu-letter">
                <a class="nav-link" href="/pagamentos">Carrinho</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-primary" href="/cadastro" role="button" class="btn btn-outline-dark menu-letter" id="hover" style="background-color: #272319; border-radius: 5px; border: none; color: #ffffff; margin-right: 20px;">CADASTRO</a>

            <a class="btn btn-primary" href="/login" role="button" class="btn btn-outline-dark menu-letter" id="hover2" style="background-color: #ffffff; border-radius: 5px; border: none; color: #161313;">LOGIN</a>
          </form>
        </div>
      </nav>


    <section class="bg-white">

        <div class="container">
          <h2>Dados pessoais</h2>

          <form action="/registro" id="form" method="POST">
              <div class="form-group">
                  <br>
                  <label for="nome_completo">Nome Completo</label>
                  <input name="nome" type="text" class="form-control" id="nome_completo" placeholder="Nome Completo" required>
              </div>

              <div class="form-group row">
                  <div class="form-group col-md-6">
                  <label for="date_nascimento">Data de Nascimento</label>
                    <input class="form-control" type="date" value="DD-MM-AAAA" id="data_nascimento" required>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="cpf">CPF</label>
                      <input type="number" class="form-control" id="cpf" placeholder="XXX.XXX.XXX-XX" required>
                  </div>
              </div>

              <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" class="form-control" id="endereco" placeholder="Av. Barão de Lucena, 1111" required>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cidade">Cidade</label>
                  <input type="text" class="form-control" id="cidade" placeholder="Jaboatão dos Guararapes" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="estado">Estado</label>
                  <input type="text" class="form-control" id="estado" placeholder="Pernambuco" required>
                </div>
                <div class="form-group col-md-2">
                  <label for="cep">CEP</label>
                  <input type="number" class="form-control" id="cep" placeholder="XXXXXX-XX" required>
                </div>
              </div>
              
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="fulano@gmail.com" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha" onkeyup="validasenha();" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">Repita a senha</label>
                    <input type="password" class="form-control" id="senha2" placeholder="Repita a senha" onkeyup="validasenha();" required>
                  </div>
              </div>

              <h2>Dados de pagamento</h2>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="numCartao">Número do cartão</label>
                  <input type="number" class="form-control" id="numCartao" placeholder="XXXX.XXXX.XXXX.XXXX">
                </div>
                <div class="form-group col-md-4">
                  <label for="nomeCartao">Nome no cartão</label>
                  <input type="text" class="form-control" id="nomeCartao" placeholder="Maria C da Silva">
                </div>
                <div class="form-group col-md-2">
                  <label for="cvv">CVV</label>
                  <input type="number" class="form-control" id="cvv"  placeholder="123">
                </div>
              </div>
              
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="dataVencimentoCartao">Data de vencimento</label>
                    <input type="text" class="form-control" id="dataVencimentoCartao" placeholder="DD/MM" maxlength=5 required>
                  </div>
              </div>

              <button type="reset" class="btn btn-danger">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>

          </form>

        </div>
    </section>

    <!-- Start: Footer Clean -->
    <div class="footer-clean" style="width: 100%;height: 146px;padding: 0;">
        <footer style="background: rgb(255, 192, 34);color: rgb(0,0,0);">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Start: Services -->
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Serviços</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Desenvolvimento</a></li>
                        </ul>
                    </div>
                    <!-- End: Services -->
                    <!-- Start: About -->
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Sobre</h3>
                        <ul>
                            <li><a href="#">Compania</a></li>
                            <li><a href="#">Time</a></li>
                        </ul>
                    </div>
                    <!-- End: About -->
                    <!-- Start: Social Icons -->
                    <div class="col-lg-3 item social">
                        <a href="#" class="socialm">
                            <i class="icon ion-email">

                            </i>
                        </a>
                        <a href="#" class="socialm">
                            <i class="icon ion-social-facebook">

                            </i>
                        </a>
                        <a href="#" class="socialm">
                            <i class="icon ion-social-whatsapp">

                            </i>
                        </a>
                        <a href="#" class="socialm">
                            <i class="icon ion-social-instagram">

                            </i>
                        </a>
                        <p class="copyright">All Cool Distribuidora © 2020</p>
                    </div>
                    <!-- End: Social Icons -->
                </div>
            </div>
        </footer>
    </div>
    <!-- End: Footer Clean -->


    <script src="/scripts/validacoes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/assets/js/script.min.js?h=7a4e021987da3d38b958d06f38b30142"></script>
<!-- 
    <script>
      function validasenha(){
        var senha1 = document.getElementById("senha").value;
        var senha2 = document.getElementById("senha2").value;

        if(senha1 != senha2){
            console.log("oi");
            document.getElementById("senha2").style.border = "red 3px solid";
        }else {
            console.log("tudo");
            document.getElementById("senha2").style.border = "green 3px solid";
        }
      }
    </script> -->

</body>

</html>